

/* 
stuff to make the visuals better
*/

body {
  max-width:500px;
  margin: 10px auto;
  font-family: sans-serif;
  font-size: 1.1em;
}

a {
  color: #191977;
  font-weight: 800;
}


p {
  display: block;
  margin: 0 0 20px 0;
  line-height: 1.4em;
}

button {
  width: 200px;
  border: 1px solid #424242;
  padding: 7px;
  display: block;  
  transition: all .3s;
  margin: 20px auto;  
}

button:hover {
  background-color: #ddf7ff;
  cursor: pointer;
}

.container {
  margin: 30px 0;
  border: 2px solid #000;
  padding: 20px;  
  min-height: 500px;
  position: relative;  
}

.container:focus, .container:active, .container:target {
 box-shadow: 10px 10px #000;
    -webkit-box-shadow: 10px 10px #000;
    -moz-box-shadow: 10px 10px #000;
}

.highlight {
  background: #ddf7ff;
  display: inline-block;
  padding: 2px 4px;
  font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}

h2:target {
  color: red !important;
}


style, .php {
  display: block;
  font-size:15px;
  padding: 10px;
  white-space: pre;
  color: #191977;
  font-family: courier, sans-serif;
  background: #ddf7ff;
  line-height: 1.5;
  position:relative;
}

#main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-menu li {
    display: inline-block;
    border-bottom: 2px solid #ddf7ff; 
    margin: 0 10px;
    text-align: center;
    min-width: 50px;
}

#main-menu a {
  text-decoration: none;
  widows: 100%;
  display: block;
  padding: 5px;
  transition: all .3s;
}

#main-menu a:hover {
  background-color: #191977;
  color: #fff;
}